:root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary--background-color);
    color: var(--primary--font-color);;
    body {
        margin: 0;
        padding: 0;
        width: inherit;
        height: inherit;
    }

    // UI COLOR THEME
    --primary--background-color: #15202B;
    --primary--menu-background-color: #192734;
    --primary--container-color: #22303C;
    --primary--font-color: #FFFFFF;
    --secondary--font-color: #8899A6;

    // COLOR THEMES
    --primary-color: #ff0000;
    --primary-color-variant: rgba(255, 96, 54, 0.666);
    --primary-color-border: rgba(255, 96, 54, 0.666);

    --secondary-color: rgba(86, 154, 130, 1);
    --secondary-color-variant: rgba(214, 228, 223, 1);
    --secondary-color-variant-2: rgba(141, 205, 183, 1);
    --secondary-color-border: rgba(86, 154, 130, 1);


    // SHADOWS
    --primary-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.18);
    --secondary-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.3);
    --tertiary-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.15);

    // BORDER
    --border-radius: 10px;
    --border-radius-alternative: 5px;
    --border-size: 1px;
    --border-size-alternative: 2px;
}