[data-theme="dark"] {
    // UI COLOR THEME
    --primary--background-color: #121212;
    --primary--menu-background-color: #181818;
    --primary--container-color: #404040;
    --primary--font-color: #FFFFFF;
    --secondary--font-color: #B3B3B3;
}